go 1.22.5

use (
	./cmd-brp-tb35
	./mock-brp-public-tables-api
	./mock-brp-public-tables-backend
	./mock-brp-public-tables-data
	./oas
	./pbac/fsc/plugin/generic
	./pbac/shared
	./pbac/standards
	./utilities
)
