server {
    listen       8080;
    server_name  localhost;

    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/index.html $uri.html /index.html;
    }

    location /runtime-env.js {
        default_type application/javascript;
        return 200 'window.__ENV__ = { "VITE_PAP_BASE_URL": "${VITE_PAP_BASE_URL}", "VITE_PIP_BASE_URL": "${VITE_PIP_BASE_URL}", "VITE_OIDC_AUTHORITY": "${VITE_OIDC_AUTHORITY}", "VITE_OIDC_CLIENT_ID": "${VITE_OIDC_CLIENT_ID}" };';
    }
}