@import "tailwindcss";

@theme {
    --font-sans: Inter, sans-serif;
    --color-content-primary: var(--color-zinc-950);
    --color-content-secondary: var(#FAFAFA);
    --color-content-tertiary: var(#FAFAFA);
    --color-content-inverse-primary: var(--color-zinc-950);
    --color-content-inverse-secondary: var(#FAFAFA);
    --color-content-inverse-tertiary: var(#FAFAFA);
    --color-background-primary: var(--color-zinc-200);
    --color-background-secondary: #FAFAFA;
    --color-background-tertiary: var(--color-zinc-50);
    --color-background-inverse-primary: var(--color-zinc-700);
    --color-background-inverse-secondary: var(--color-zinc-800);
    --color-background-inverse-tertiary: var(--color-zinc-950);
    --color-background-hover: var(--color-blue-500);
    --color-background-hover-overlay: rgba(0, 0, 0, 0.025);
    --color-background-inverse-hover-overlay: rgba(255, 255, 255, 0.05);
    --color-border-primary: var(--color-zinc-200);
    --color-border-secondary: var(--color-zinc-100);
    --color-border-tertiary: var(--color-zinc-50);
    --color-border-inverse-primary: var(--color-zinc-700);
    --color-border-inverse-secondary: var(--color-zinc-800);
    --color-border-inverse-tertiary: var(--color-zinc-950);
    --color-border-hover-overlay: rgba(0, 0, 0, 0.2);
    --color-border-inverse-hover-overlay: rgba(255, 255, 255, 0.1);
    --color-cool-grey: #0F172A;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-base: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 24px;
    --radius-full: 1000px;
  }