@import "tailwindcss";

@theme {
    --font-sans: 'Fira Sans', sans-serif;
    --color-content-primary: var(--color-zinc-950);
    --color-content-secondary: #717171;
    --color-content-tertiary: #FAFAFA;
    --color-content-inverse-primary: var(--color-zinc-950);
    --color-content-inverse-secondary: #A1A1AA;
    --color-content-inverse-tertiary: #FAFAFA;
    --color-background-primary: var(--color-zinc-200);
    --color-background-secondary: #FAFAFA;
    --color-background-tertiary: var(--color-zinc-50);
    --color-background-inverse-primary: #18181B;
    --color-background-inverse-secondary: var(--color-zinc-800);
    --color-background-inverse-tertiary: var(--color-zinc-950);
    --color-background-hover: var(--color-blue-500);
    --color-background-hover-overlay: rgba(0, 0, 0, 0.025);
    --color-background-inverse-hover-overlay: rgba(255, 255, 255, 0.05);
    --color-border-primary: var(--color-zinc-200);
    --color-border-secondary: var(--color-zinc-100);
    --color-border-tertiary: var(--color-zinc-50);
    --color-border-inverse-primary: var(--color-zinc-700);
    --color-border-inverse-secondary: var(--color-zinc-800);
    --color-border-inverse-tertiary: var(--color-zinc-950);
    --color-border-hover-overlay: rgba(0, 0, 0, 0.2);
    --color-border-inverse-hover-overlay: rgba(255, 255, 255, 0.1);
    --color-carrotnl-button-primary-action-background-color: #154273;
    --color-cool-grey: #0F172A;
    --color-rhc-lintblauw-500: #154273;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-base: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 24px;
    --radius-full: 1000px;

    /* Custom RHC stijlen */
    --spacing-rhc-space-300: 24px;
    --spacing-rhc-space-500: 40px;
    --color-heading-primary: #F7E8E8;
    --color-rhc-color-cool-grey-900: #0F172A;
    --text-rhc-sidenav-link-font-size: 18px;
    --font-weight-rhc-sidenav-link-font-weight: 400;
    --color-rhc-sidenav-link-color: #0F172A;
    --color-rhc-sidenav-current-background-color: #D9EBF7;
    --color-rhc-sidenav-link-current-color: #42145F;
}

/* Fira Sans Font Family */
@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

